.content{

    &__wrap{
        position: fixed;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #E5E5E5;
    }

    &__notification{
        position: absolute;
        top:-20%;
        right: -20%;
        transition: ease 0.5s all;
    }

    &__notification.display{
        top: 20px;
        right: 20px;
    }
}