.user-list {

	&__content {
		padding: 48px;
	}

	&__items {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	&__item {
		background-color: white;
		-webkit-box-shadow: -3px 3px 7px 0px rgba(34, 60, 80, 0.07);
		-moz-box-shadow: -3px 3px 7px 0px rgba(34, 60, 80, 0.07);
		box-shadow: -3px 3px 7px 0px rgba(34, 60, 80, 0.07);
		margin-bottom: 18px;
		&:hover{
			-webkit-box-shadow: -15px 9px 21px 16px rgba(34, 60, 80, 0.12);
			-moz-box-shadow: -15px 9px 21px 16px rgba(34, 60, 80, 0.12);
			box-shadow: -15px 9px 21px 16px rgba(34, 60, 80, 0.12);
			cursor: pointer;
		}
	}
}
.item {

	&__content{
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 20px;
	}

	&__info {
		padding: 16px;
		display: flex;
	}

	&__info-first-wrapper{
		width: 50%;
		display: flex;
		justify-content: flex-start;
	}

	&__info-second-wrapper{
		width: 50%;
		display: flex;
		justify-content: flex-end;
	}

	&__element{
		margin-right: 44px;
		display: flex;
		align-items: center;
	}

	&__info-img-wrap {
		width: 48px;
		height: 48px;
		border-radius: 64px;
		overflow: hidden;
		margin-right: 16px;
		img{
			width: 100%;
			height: auto;
		}
	}

	&__info-name-wrap {
	}

	&__info-name {
	}

	&__info-balance-wrap {
	}

	&__info-balance {
	}

	&__info-last-update-wrap {
	}

	&__info-last-update {
		font-size: 13px;
		color: #A8A8A8;
	}

	&__info-status-wrap {
	}

	&__info-status {
	}
}

.loader6{
	position: absolute;
	width: 12px;
	height: 12px;

	top: 46%;
	top: -webkit-calc(50% - 6px);
	top: calc(50% - 6px);
	left: 46%;
	left: -webkit-calc(50% - 6px);
	left: calc(50% - 6px);
	
	border-radius: 12px;
	background-color: #6979F8;
	-webkit-transform-origin:  50% 50%;
			transform-origin:  50% 50% ;
	-webkit-animation: loader6 1s ease-in-out infinite;
			animation: loader6 1s ease-in-out infinite;
}

.loader6:before{
	content: "";
	position: absolute;
	background-color: #6979F8;
	top: 0px;
	left: -25px;
	height: 12px;
	width: 12px;
	border-radius: 12px;
}

.loader6:after{
	content: "";
	position: absolute;
	background-color: #6979F8;
	top: 0px;
	left: 25px;
	height: 12px;
	width: 12px;
	border-radius: 12px;
}


@-webkit-keyframes loader6{
    0%{-webkit-transform:rotate(0deg);}
    50%{-webkit-transform:rotate(180deg);}
    100%{-webkit-transform:rotate(180deg);}
}

@keyframes loader6{
    0%{transform:rotate(0deg);}
    50%{transform:rotate(180deg);}
    100%{transform:rotate(180deg);}
}
