.user-list {

	&__content {
		padding: 48px;
	}

	&__items {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	&__item {
		background-color: white;
		-webkit-box-shadow: -3px 3px 7px 0px rgba(34, 60, 80, 0.07);
		-moz-box-shadow: -3px 3px 7px 0px rgba(34, 60, 80, 0.07);
		box-shadow: -3px 3px 7px 0px rgba(34, 60, 80, 0.07);
		margin-bottom: 18px;
		&:hover{
			-webkit-box-shadow: -15px 9px 21px 16px rgba(34, 60, 80, 0.12);
			-moz-box-shadow: -15px 9px 21px 16px rgba(34, 60, 80, 0.12);
			box-shadow: -15px 9px 21px 16px rgba(34, 60, 80, 0.12);
			cursor: pointer;
		}
	}
}
.item {

	&__content{
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 20px;
	}

	&__info {
		padding: 16px;
		display: flex;
	}

	&__info-first-wrapper{
		width: 50%;
		display: flex;
		justify-content: flex-start;
	}

	&__info-second-wrapper{
		width: 50%;
		display: flex;
		justify-content: flex-end;
	}

	&__element{
		margin-right: 44px;
		display: flex;
		align-items: center;
	}

	&__info-img-wrap {
		width: 48px;
		height: 48px;
		border-radius: 64px;
		overflow: hidden;
		margin-right: 16px;
		img{
			width: 100%;
			height: auto;
		}
	}

	&__info-last-update {
		font-size: 13px;
		color: #A8A8A8;
	}

}

.modal-window {

	&__wrap {
		position: fixed;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: -5;
		opacity: 0;
		transition: all ease 0.4s;
		&.display{
			opacity: 1;
			transition: all ease 0.2s;
			z-index: 5;
		}
	}

	&__body {
		width: 63%;
		height: 55%;
		background-color: white;
		box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
		border-radius: 12px;
		position: relative;
	}

	&__shading {
		position: fixed;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(63, 51, 86, 0.4);
		z-index: -4;
		opacity: 0;
		transition: all ease 0.2s;
		display: block;
		&.display{
			z-index: 4;
			opacity: 1;
			transition: all ease 0.4s;
		}
	}

	&__header {
		padding: 20px;
		border-bottom: 1px solid #ECEBED;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__header-name {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 700;
		font-size: 34px;
		line-height: 41px;
	}

	&__header-close-btn {
		width: 25px;
		height: 5px;
		background-color: #6979F8;
		border-radius: 3px;
		transform: rotate(45deg);
		position: relative;
		cursor: pointer;
		&::before{
			content: "";
			width: 25px;
			height: 5px;
			background-color: #6979F8;
			border-radius: 2px;
			transform: rotate(90deg);
			display: block;
		}
	}

	&__content {
		display: flex;
		flex-wrap: wrap;
		padding: 34px;
		justify-content: flex-start;
	}

	&__data-input {
		padding: 14px;
		border: 1px solid #ECEBED;
		border-radius: 6px;
		width: 240px;
		margin: 0px 28px 28px 0px;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 20px;
		&:focus:not(button){
			border: 1px solid #a9a8aa;
		}
	}

	input.ng-touched.ng-invalid{
		border: 1px solid red;
	}

	&__btn-submit {
		position: absolute;
		bottom: 22px;
		right: 22px;
		background: #6979F8;
		border-radius: 6px;
		width: 180px;
		height: 40px;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 500;
		font-size: 13px;
		line-height: 18px;
		color: white;
		&:hover{
			background: #5565db;
		}
	}
}

.loader6{
	position: absolute;
	width: 12px;
	height: 12px;

	top: 46%;
	top: -webkit-calc(50% - 6px);
	top: calc(50% - 6px);
	left: 46%;
	left: -webkit-calc(50% - 6px);
	left: calc(50% - 6px);
	
	border-radius: 12px;
	background-color: #6979F8;
	-webkit-transform-origin:  50% 50%;
			transform-origin:  50% 50% ;
	-webkit-animation: loader6 1s ease-in-out infinite;
			animation: loader6 1s ease-in-out infinite;
}

.loader6:before{
	content: "";
	position: absolute;
	background-color: #6979F8;
	top: 0px;
	left: -25px;
	height: 12px;
	width: 12px;
	border-radius: 12px;
}

.loader6:after{
	content: "";
	position: absolute;
	background-color: #6979F8;
	top: 0px;
	left: 25px;
	height: 12px;
	width: 12px;
	border-radius: 12px;
}


@-webkit-keyframes loader6{
    0%{-webkit-transform:rotate(0deg);}
    50%{-webkit-transform:rotate(180deg);}
    100%{-webkit-transform:rotate(180deg);}
}

@keyframes loader6{
    0%{transform:rotate(0deg);}
    50%{transform:rotate(180deg);}
    100%{transform:rotate(180deg);}
}
