<div class="navigation-menu">
    <div class="navigation-menu__wrap">
        <ul class="navigation-menu__list">
            <li class="navigation-menu__item" data-filterSetting=""
            [ngClass]="{active: activeFilter === null}"
            (click)="navigate($event)">
                <div class="navigation-menu__item-content"
                data-filterSetting="">Все</div>
            </li>
            <li class="navigation-menu__item" data-filterSetting="2"
            [ngClass]="{active: activeFilter === 2}"
            (click)="navigate($event)">
                <div class="navigation-menu__item-content"
                data-filterSetting="2">Заблокированные</div>
            </li>
            <li class="navigation-menu__item" data-filterSetting="0"
            [ngClass]="{active: activeFilter === 0}"
            (click)="navigate($event)">
                <div class="navigation-menu__item-content"
                data-filterSetting="0">Активные</div>
            </li>
        </ul>
    </div>
</div>