<div class="navigation-menu">
    <div class="navigation-menu__wrap">
        <ul class="navigation-menu__list">
            <li class="navigation-menu__item active">
                <div class="navigation-menu__item-content">Все</div>
            </li>
            <li class="navigation-menu__item">
                <div class="navigation-menu__item-content">Заблокированные</div>
            </li>
            <li class="navigation-menu__item">
                <div class="navigation-menu__item-content">Активные</div>
            </li>
        </ul>
    </div>
</div>